
.background-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 50vh; /* Ensures full viewport height */
    cursor: none;
    text-decoration: none;
  }

  .small-container {
    width: 30%;                /* Width of the container */
    height: 55%;               /* Height of the container */
    background-image: url('src/assets/Screenshot.jpg');  /* Path to your background image */
    background-size: cover;     /* Ensure the background covers the entire container */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: center; /* Center the image within the container */
    position: fixed;            /* Fix the container in the viewport */
    left: 0;                    /* Position the container on the left side */
    top: 50px;    
    margin-top: 17% !important;               /* Vertically center the container */
    transform: translateY(-50%);/* Adjust for proper centering */
    border: 1px solid #ccc;    /* Optional: A border to see the container */
}

.h1Type{
  margin-left: 31%;
  margin-top: 10%;
  color: #0a5588;
}