<header class="header">
  <div class="container">
    <h1 class="text-center">Finarya's Quiz Application</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-quiz">Create Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/take-quiz">Take Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/review-quiz">Review Quiz</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>


<footer style="padding: 1px; text-align: center; background-color:
 #0a5588; position: fixed; bottom: 0; width: 100%; color: aliceblue;">
  <br><br><br><br>
  &nbsp;&nbsp;&nbsp;
  <p>&copy; 2024 Finarya Quiz Application</p>
</footer>